@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Mulish&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    .max-h-35 {
        max-height: 35rem/* 560px */;
    }
    .max-w-35 {
        max-height: 35rem/* 560px */;
    }
    .min-h-39{
        min-height: 39rem/* 560px */;
    }
    .max-h-18{
        max-height: 18rem/* 560px */;
    }
    .h-19{
        height: 19rem;
    }
    .text-spm {
        font-size: 2.5rem/* 40px */;
        line-height: 2.5rem/* 40px */;
    }
    .text-spl {
        font-size: 3.44rem/* 55px */;
        line-height: 3.44rem/* 55px */;
    }
    .inner-cursor.grow{
        width: 25px;
        height: 25px;
        transition: width 0.5s, height 0.5s;
    }
    .outer-cursor{
        position: fixed;
        left: 10px;
        width: 25px;
        height: 25px;
        transform: translate(-50%,-50%);
        border: 1px solid gray;
        mix-blend-mode: difference;
        border-radius: 50%;
        pointer-events: none;
        transition: 0.1s;
    }
}

    